@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Share+Tech+Mono&display=swap');
.search-box{
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: auto;
  top: 0;
  position: relative;
  font-family: 'Nanum Gothic Coding', monospace;
  font-family: 'Share Tech Mono', monospace;
}
.input-search{
  height: 50px;
  width: 30px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 0;
  transition: all .5s ease-in;
  background-color:transparent;
  padding-right: 40px;
  color: transparent;
}

.btn-search{
  height: 74px;
  border-style: none;
  font-size: 70px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: rgba(119,136,153, 1) ;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus{
  color: rgba(255,255,255, 1)
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.btn-search:focus ~ .input-search::placeholder,.btn-search:focus ~ .input-search{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  color: #ffffff ;
}
.results-box{
  width: 100%;
  height: auto;
  max-height: 300px;
  overflow: auto;
  background: linear-gradient(to top , rgba(174, 193, 255, 0.9),rgba(115, 255, 238, 1));
  cursor: pointer;
  position: absolute;
  z-index: 9;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.results-box button{
  width: 100%;
  display: block;
  padding: 15px 0;
  background: transparent;
  cursor: pointer;
  border: none;
  font-size: 20px;
  transition-duration: .15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.results-box button:hover{
    background: rgba(197, 83, 0, 1);
    color: #ffffff ;
}
.results-box ul{
  background-color: cyan;
  list-style-type: none;
  list-style-position: outside;
}
.results-box ul li{
  z-index: 10;
  padding: 0;
  background-color: yellow;
}
.results-box ul li:hover{
  cursor: pointer;
}

.btn-search:focus ~ .results-box,.input-search:focus ~ .results-box{
  visibility: visible;
  transition: all 0.5s ease-in;
}
